
.table {
    margin-top: 30px;
}

.table  th, .table  td{
    vertical-align: middle;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.table  th, .table  td {
    text-align: center;
}

.table h3 {
    color: #888;
    font-size: 16px;
    font-weight: bold;
}

.p-user-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}